body {
  margin: 0;
  padding: 0;
  background-color: rgb(30, 29, 29);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=60");
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.status {
  text-align: center;
}

img {
  width: 100%;
}

.music-container {
  max-width: 300px;
  border: 1px solid lightblue;
  padding: 1em;
  margin: 2em auto;
  background-color: black;
}

.song {
  text-align: center;
}

.timestamps {
  display: flex;
  justify-content: space-between;
}

#range-container {
  margin: 1em auto;
  width: 80%;
}

input[type="range"] {
  width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prev{
  transition: scale 0.5 ease-in;
}

#prev:hover {
  cursor: pointer;
  scale: 1.4;
  color: limegreen;
}

#master-play,
#next {
  margin-left: 1em;
  transition: scale 0.5;
}

#master-play:hover,
#next:hover {
  cursor: pointer;
  scale: 1.4;
  color: limegreen;
}
